.lend-form {
  padding-left: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: rgb(255, 255, 255);
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: #4a4a4a;
  margin-top: 2%;
}

.lend-label {
  display: block;
  padding-top: 30px;
}

.label-text {
  color: #9b9b9b;
  cursor: text;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  -moz-transform: translateY(-34px);
  -ms-transform: translateY(-34px);
  -webkit-transform: translateY(-34px);
  transform: translateY(-34px);
  transition: all 0.3s;
}

.lend-label .lend-input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #4a4a4a;
  color: white;
  font-size: 36px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 20px;
  transition: all 0.3s;
  width: 200px;
}

.lend-input:focus {
  max-width: 100%;
  width: 400px;
}

.lend-input:focus + .label-text {
  color: #f0f0f0;
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

.lend-input:valid + .label-text {
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

.lend-button {
  background-color: #333333;
  border: 2px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 200ms;
}
.lend-button:hover,
.lend-button:focus {
  border : 2px solid rgb(29, 29, 29);
  background-color: rgb(253, 242, 242);
  color: #474747;
  transition: color 300ms ease-out, background-color 300ms ease-in;
  outline: 0;
}

.lend-small {
  color: red;
}

.lend-submit{
  margin-left: auto;
  margin-right: auto;

}
